<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>test</title>
</head>
<body>
<form method="post" action="http://127.0.0.1:5000/repos">
    <label>
        <input type="text" name="star" value="" placeholder="input language">
    </label><br>
<!--    <input type="text" value="" placeholder="input min fork number"><br>-->
<!--    <input type="text" name="star" value="" placeholder="input min star number"><br>-->
<!--    <input type="text" name="month" value="" placeholder="input min month number"><br>-->
	<input type="submit">
</form>
</body>
</html>